_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
images/Leica1.HEIC
images/Leica1.jpg
images/Leica2.HEIC
images/Leica2.jpg
images/Leica3.HEIC
images/Leica3.jpg
images/Leica4.HEIC
images/Leica4.jpg
_posts/Google_Colab_SOP.md
FIRe_light.ipynb
FIRe_Temp.ipynb
Generate_Sunburst_py.ipynb
Generate_Sunburst_py.ipynb
Generate_Sunburst_py.ipynb
*.ipynb
